body {
}

#mainNavi {
    background-color: #bafdff;
}

#mainNavi > ul > li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

#mainAnschrift {
    text-align: center;
    font-size: small;
    padding: 5px 0 0 0;
    min-width: 304px;
}

.primaryTable {
    text-align: left;
    padding: 15px 0 15px 0px;
    line-height: 1.4;
}

.primaryTable tr td:first-of-type {
    min-width: 220px;
}

.secondaryTable {
    text-align: left;
    padding: 15px 0 15px 0;
    line-height: 1.2;
}

#weiteres {
    display: flex;
    flex-wrap: wrap;
}

#weiteres > div {
    padding: 15px;
}

.iconList {
    display: flex;
    flex-wrap: wrap;
}
.iconList img{
    width: 30px;
    height: 30px;
    padding: 15px;

}